<!DOCTYPE html>
<html>
<head>
<style>
body { 
  background: lightblue url("img_tree.gif") no-repeat fixed center; 
}
</style>
</head>
<body>

<h1>The background Property</h1>

<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>
<p>This is some text</p>

</body>
</html>