<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: pink;
}
</style>
</head>
<body>

<h1>The background-color Property</h1>

<p>The background color can be specified with a color name.</p>

</body>
</html>
