/*Background Color */
.bg-primary {
    background-color: #185B8F;
}

.bg-info {
    background-color: #50A5F1;
}

.bg-secondary {
    background-color: #6D6D7C;
}

.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: #E4E4E4;
}

.bg-success {
    background-color: #34C28F;
}

.bg-danger {
    background-color: #DC3444;
}

.bg-dark {
    background-color: #495057;
}

.bg-warning {
    background-color: #FFC007;
}

/*Text Color */
.text-primary {
    background-color: #185B8F;
}

.text-info {
    background-color: #50A5F1;
}

.text-secondary {
    background-color: #6D6D7C;
}

.text-white {
    background-color: #fff;
}

.text-light {
    background-color: #E4E4E4;
}

.text-success {
    background-color: #34C28F;
}

.text-danger {
    background-color: #DC3444;
}

.text-dark {
    background-color: #495057;
}

.text-warning {
    background-color: #FFC007;
}

/* flex */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.d-flex-row {
    flex-direction: row;
}

.d-flex-col {
    flex-direction: column;
}