*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 229, 229, 0.982);
    position: absolute;
    

}

.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    border:2px solid white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.container h1{
    text-align: center;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

a{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: black;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

a:hover{
    background-color: dodgerblue;
 
    
   
}

.cards img{
    width: 100px;
}