.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  box-shadow: 0px 0px 45px 18px rgba(153, 153, 153, 1);
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.buttons > div {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

.button {
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  border: 0.5px solid #999;
  cursor: pointer;
  user-select: none;
}

#equal {
  background-color: aqua;
  color: white;
}

.button:hover {
  background-color: #323330;
  color: white;
  transition: 0.3s ease-in-out;
}
